@charset "utf-8";
/* CSS Document */

#title{
	color:#36F;
	font-size:36px;
	position:absolute;
	top:100px;
	left:250px;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
	
#rule{
	position:absolute;
	top:130px;
	left:250px;
	width:800px;
	height:10px;
	}